* {
  box-sizing: border-box;
}
footer img {
  width: 125px;
}

footer-list {
  float: right;
}

footer-list li {
  padding-bottom: 20px;
  color: #ecf0f1;
  font-size: 12px;
}

footer {
  height: 120px;
  padding: 40px;
}
