li {
  list-style: none;
}
.footer{
  background-color: #2f5167;
  color: #fff;
  height: 150px;
  padding: 40px;
}
.footer-logo{
  float:left;
  font-size:24px;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom:20px;
}
